<ol class="breadcrumb bg-white">
  <li class="breadcrumb-item active">Home</li>
</ol>
<h1>Welcome to the Harry Potter Database</h1>
<p>Currently, the database is under construction so you won't find any real characters in here. But while we work, feel free to play around with the dummy data that has been loaded!</p>
<p>Available Pages:</p>
<ul>
  <li><a href="/characters">Characters</a></li>
  <li><a href="/pets">Pets</a></li>
  <li><a href="/schools">Schools</a></li>
  <li><a href="/houses">Houses</a></li>
  <li><a href="/concentrations">Concentrations</a></li>
</ul>
