<div>Harry Potter Character Library</div>
<ul>
  <li>
    <a href="/admin">Admin</a>
  </li>
  <li>
    <a href="/characters">Characters</a>
  </li>
  <li>
    <a href="/concentrations">Concentrations</a>
  </li>
  <li>
    <a href="/houses">Houses</a>
  </li>
  <li>
    <a href="/pets">Pets</a>
  </li>
  <li>
    <a href="/schools">Schools</a>
  </li>
</ul>
