*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  padding: 1em;
  background-color: #EEE;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

header {
  margin: 1%;
}

.subheader {
  max-width: 600px;
}

label {
    display: block;
    width: 100%;
    margin-bottom:  0.65em;
}

label:last-child {
  margin-bottom: 0;
}

input {
  cursor: pointer;
}

form input {
    padding: 0.25em;
    font-size: 16px;
    width:  100%;
}

form input[type="text"],
form input[type="number"]{
  border: 0;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.23);
  outline: none;
  -webkit-transition: box-shadow 200ms ease-in-out;
  -moz-transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
}
form input[type="text"]:focus,
form input[type="number"]:focus{
  border: 0;
  box-shadow: inset 0 -2px 0 rgb(100,100,255);
}

form input[type="submit"] {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    padding: 0.5em 1em;
    background-color: rgb(100,100,255);
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px rgb(60,60,215);
}

.tracker-table {
  border: 1px solid rgba(0,0,0,0.23);
  border-collapse: collapse;
  width: 100%;
}

.tracker-table td,
.tracker-table th {
  border: 1px solid rgba(0,0,0,0.23);
  padding: 0.5em;
  text-align: center;
}

.tracker-table input {
  border: 0;
  margin: 0;
  background-color: transparent;
  outline:none;
}

.header-id,
.id {
  display:none;
  width: 0;
  height: 0;
}

#message-wrapper {
  position: absolute;
  width: 400px;
  bottom: 0;
  right: 0;
  padding: 1em;
}

.message {
  display: block;
  margin: 1%;
  width: 98%;
  padding: 0.5em;
  border-radius: 4px;
  z-index: 999;
  -webkit-transition: all 250ms ease-in-out 50ms;
  -moz-transition: all 250ms ease-in-out 50ms;
  transition: all 250ms ease-in-out 50ms;
}

.message-error {
  background-color: #FF9999
}
.message-success {
  background-color: #99FF99
}

.edited {
  background-color: #FFFFAA;
}

.tracker-table .save-btn,
.tracker-table .delete-btn {
  display:none;
  font-size: 10px;
  padding: 0.5em;
  margin: 1%;
  border-radius: 3px;
}

.tracker-table .edited .save-btn {
  display:inline-block;
  background-color: #99FF99
}
.tracker-table .delete-btn {
  display:inline-block;
  background-color: #FF9999;
}

.tracker-table .edited .delete-btn {
  display:none;
  background-color: #FF9999;
}

.card {
  padding: 1em;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card > * {
  margin-bottom: 0.65em;
}
.card > *:last-child {
  margin-bottom: 0;
}

.thirty {
  display: inline-block;
  width: 98%;
  margin: 1%;
  float: left;
}
.forty {
  display: inline-block;
  width: 98%;
  margin: 1%;
  float: left;
}
.fifty {
  display: inline-block;
  width: 98%;
  margin: 1%;
  float: left;
}
.sixty {
  display: inline-block;
  width: 98%;
  margin: 1%;
  float: left;
}
.seventy {
  display: inline-block;
  width: 98%;
  margin: 1%;
  float: left;
}

@media screen and (min-width: 950px){
  .thirty {
    width: 28%;
  }
  .forty {
    width: 38%;
  }
  .fifty {
    width: 48%;
  }
  .sixty {
    width: 58%;
  }
  .seventy {
    width: 68%;
  }
}
